body{
    font-family: 'Poppins';
    margin:0;
}
.top-banner{ 
    background-image: url("img/top-banner.png");
    background-repeat: no-repeat; 
}
section{
    height: 100%;   
}

p{
    font-size: 18px;
}
.div-width{
    width: 40%;
    float: left;
    margin-left :5%;
    padding-left: 2%; 
     
}
.div-width img{
    Width:100%;
}
.div-width2 img{
    width:70%;
}

.name-highlight{
    color:rgb(136, 120, 47);
}
img{
    width:25%;
}
h1{
    color:cadetblue;
    font-size: 50px ;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient( rgb(250, 26, 138)  ,red);
    padding:10px 20px;
    border-radius: 5px;
    font-weight: 700;
    color:cornsilk;
 
}
#exp{
    text-align: center;
    background-color:burlywood;
    color: red    ;
    margin: 1px 500px 1px 500px;
    border-radius: 100px;
}
.single-mission{
    box-shadow: 10px 10px 40px gold ;
    border-radius: 10px;
    height:60%;
    margin:2%;
    background-color:rgb(16, 166, 236) ;
}


.experience-area{
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
